.footer{
    background: #111111;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding-top: 78px;
    padding-bottom: 78px;
}
.footer-logo{
    img{
        width: 104px;
    }
}
.footer-adress{
    width: 36.9%;
    line-height: 28px;
}
.footer-horaire{
    width: 37.97%;
    line-height: 28px;
}
.zeubi{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
}