@media screen and (max-width: 1380px) {
    .header{
        width: 100%;
    }
    .header-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        img{
            max-width: 103px;
            width: 12vw;
            max-height: 40px;
            height: 100%;
        }
    }
    .hero-section{
        background-image: url("images/homepage/hero-bg-tablet.jpg");
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #111111;
        height: auto;
        text-align: center;
        padding-top: 40%;
        padding-left: 0px;
        padding-bottom: 216px;
    }
    .hero-container{
        padding-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-title-container{
        width: 57.42%;
        height: min-content;
        padding-bottom: 23px;
        .hero-title{
            font-size: clamp(5vw,3em,6.5vw);
            line-height: 65px;
            letter-spacing: -0.6000000238418579px;
        }
    }
    .hero-text-container{
        width: 74%;
        padding-bottom: 24px;
        .hero-text{
            font-size: clamp(2vw,1,2em,2.5vw);
            line-height: 30px;
            letter-spacing: -0.22499999403953552px;
        }
    }
    .first-section{
        height: 1790px;
        background-image: url(images/patterns/pattern-curve-top-left.svg);
        background-position: 100% 50%;
        background-size: 50% 11%;
        background-repeat: no-repeat;
    }
    .text-first-section{
        width: 60%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-bottom: 150px;
    }
    .main-first-section{
        background-image: none;
        background-size: 50% 40%;
        background-repeat: no-repeat;
        background-position: 0% 40%; 
    }
    .second-first-section{
        flex-direction: column;
        background-image: url(images/patterns/pattern-curve-top-left.svg);
        background-position: 100% -150%;
        background-size: 50% 40%;
        background-repeat: no-repeat;
    }
    .img-first-section-element{
        width: 73%;
        max-width: 573px;
        min-width: 327px;
        height: 100%;
        max-height: 360px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(images/homepage/enjoyable-place-desktop.jpg);
    }
    .img-first-section{
        top: -10%;
        box-shadow: 0px 75px 100px -50px #38425580;
        margin-left: 0px;
        background-image: url(images/homepage/enjoyable-place-tablet.jpg);
    }
    .img-second-section{
        top: 0%;
        box-shadow: 0px 75px 100px -50px #38425580;
        margin-right: 0px;
        background-position: center;
        background-image: url(images/homepage/locally-sourced-tablet.jpg);
    }
    .postion-section-first{
        position: relative;
        left: 31%;  
        bottom: 116px;
    }
    .bg-first-section{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }
    .title-element-first-section{
        width: 74%;
        text-align: center;
        font-size: clamp(3vw,2.5em,4.5vw);
    }
    .text-element-text-first-section{
        width: 90%;
        height: auto;
        line-height: 30px;
        letter-spacing: -0.22px;
        font-size: clamp(2vw,1.125em,3vw);
        text-align: center;
    }
    .highlight-menu-section{
        flex-direction: column;
        align-items: center;
        padding-bottom: 13%;
        padding-top: 13%;
    }
    .highlight-text{
        width: 58%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 56px;
    }
    .highlight-title{
        font-size: clamp(4vw,2.5em,5.5vw);
    }
    .highlight-p{
        font-size: clamp(2vw,1.125em,3vw);
    }
    .arg-booking-section{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .arg-img-modifier{
        width: 74.5%;
        min-width: 0px;
        max-width: 540px;
        height: 360px;
        min-height: 360px;
        margin-top: 120px;
        background-position: top;
    }
    .arg-container{
        display: grid;
        place-items: center;
        justify-content: center;
        grid-auto-rows: min-content;
    }
    .arg-section-list{
        padding-top: 56px;
        grid-row-start: 1;
        grid-row-start: 2;
        margin-bottom: 40px;
    }
    ul{
        padding-top: 56px;
        display: flex;
        
        li{
            margin-left: 1.3%;
        }
    }
    .arg-text-container{
        text-align: center;
        grid-row-start: 2;
        grid-row-start: 3;
    }
    .arg-btn-container{
        grid-row-start: 3;
        grid-row-start: 4;
    }
    .arg-text{
        font-size: clamp(2vw,1.125em,3vw);
    }
    #line1{
        top: 125.8%;
        left: 17%;
    }
    #line2{
        top: 125.8%;
        left: 53%;
    }
    #line3{
        top: 125.8%;
        left: 83%;
    }
    .ads-booking{
        justify-content: space-evenly;
        flex-direction: column;
    }
    .ads-reservation{
        font-size: clamp(4vw,2.5em,5vw);
    }
    .zeubi{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: clamp(2vw,1.14em,3vw);
        width: 60%;
    }
    .footer-adress{
        margin-bottom: 32px;
        width: 60%;
    }
    .footer-horaire{
        width: 60%;
    }
}
